body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    .green {
        background-color: #00DEA6;
    }

    .warning {
        background-color: #FFA500;
    }

    .danger {
        background-color: #FF5369;
    }

    // navbar

    nav {
        background-color: #563AD5;

        .container {
            border-bottom: 1px solid #eeeeee73;

            .navbar-toggler {
                background-color: #222222;
            }

            .collapse {
                .nav-item {
                    .nav-link {
                        color: white !important;
                        font-weight: 400;
                        z-index: 2;
                    }
                }
            }
        }
    }

    // general btn style

    .btn {
        padding: 10px 20px;
        box-shadow: 5px 5px 0px #222222;
        font-weight: 500;
        font-stretch: expanded;
        z-index: 2;
        position: relative;

        &.green {
            background-color: #00DEA6;
            color: #222222;
        }
    }

    // hero content 

    .hero_content_container {
        height: 100vh;
        overflow: hidden;
        background-color: #563AD5;

        @media screen and (max-width: 1024px) {
            height: 100vh;
        }

        @media screen and (max-width: 768px) {
            height: 100vh;
        }

        .container {
            >h1 {
                color: white;
                font-size: 5rem;
                margin-top: 9rem;
                font-weight: 800;
                text-shadow: 3px 5px 0px #222222;
                position: relative;

                @media screen and (max-width: 1024px) {
                    font-size: 4.5rem;
                }

                @media screen and (max-width: 425px) {
                    font-size: 2rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 100px;
                    bottom: 15%;
                    border-radius: 3px;
                    margin-left: 2%;
                    background: #FFA500;
                    box-shadow: 2px 4px 0px #222222;
                }
            }

            /* -----
            SVG Icons - svgicons.sparkk.fr
            ----- */

            .address_container {
                position: absolute;
                right: 20%;
                bottom: -5%;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 768px) {
                    display: none;
                }

                .svg-icon {
                    width: 8em;
                    height: 8em;
                }
    
                .svg-icon path,
                .svg-icon polygon,
                .svg-icon rect {
                    fill: #FFA500;
                }
    
                .svg-icon circle {
                    stroke: #FFA500;
                    stroke-width: 1;
                }
            }

            .ms-5 {
                @media screen and (max-width: 768px) {
                    margin-left: 0% !important;
                }

                h1 {
                    color: white;
                    font-size: 4.3rem;
                    // margin-top: 50px;
                    font-weight: 800;
                    text-shadow: 3px 5px 0px #222222;
                    position: relative; 
                    @media screen and (max-width: 1024px) {
                        font-size: 3.5rem;
                    }

                    @media screen and (max-width: 425px) {
                        font-size: 2.4rem !important;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 2rem !important;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 3rem;
                    }
                }

                p {
                    width: 50%;
                    color: white;
                    font-size: 1.1rem;
                    opacity: 0.7;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 425px) {
                        font-size: 1rem;
                    }
                }

                .btn {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
    }

    // service_content_container

    .services_content_container {
        padding: 5rem 0px;
        .container {
            .row {
                @media screen and (max-width: 768px) {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr;
                }

                @media screen and (max-width: 425px) {
                    display: grid !important;
                    grid-template-columns: 1fr;
                    gap: 1rem;
                }

                .col-md-4 {
                    @media screen and (max-width: 768px) {
                        width: 100%;

                        &:nth-child(3) {
                            margin-top: 20px;
                        }
                    }

                    @media screen and (max-width: 425px) {
                        width: 100%;

                        &:nth-child(3) {
                            margin-top: 0px;
                        }
                    }

                    .service_card {
                        box-shadow: 5px 5px 0px #222222;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    // about_content_container

    .about_content_container {
        padding: 5rem 0px;
        .container {
            .row {
                .col-md-6 {
                    .ps-5 {
                        @media screen and (max-width: 768px) {
                            padding-left: 0% !important;
                        }
                    }
                }
            }
        }
    }

    // project_content_container

    .project_content_container {
        padding: 5rem 0px;
        background-color: #563AD5;

        .container {
            .row {
                .col-md-8 {
                    z-index: 2;
                    img {
                        border-radius: 10px;
                        z-index: -5;
                    }

                    .blue {
                        border-radius: 10px;
                        padding: 30px;
                        // margin-top: -55px !important;
                        // z-index: 5;
                        position: absolute;
                        top: 45%;
                        transform: translateY(-50%);
                        width: 70%;
                        right: -50%;
                        background-color: #00185B;
                    }

                    .second_detail {
                        left: -50%;
                    }
                }
            }
        }
    }

    #cursor {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ffa60073;
        position: absolute;
        display: none;
        transition: 0.2s ease-out;
    }

    div:hover ~ #cursor {
        transform: scale(0.2);
    }
}