body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body nav {
  background-color: #563AD5;
}

body nav .container {
  border-bottom: 1px solid #eeeeee73;
}

body nav .container .navbar-toggler {
  background-color: #222222;
}

body nav .container .collapse .nav-item .nav-link {
  color: white !important;
  font-weight: 400;
}

body .btn {
  padding: 10px 20px;
  -webkit-box-shadow: 5px 5px 0px #222222;
          box-shadow: 5px 5px 0px #222222;
  font-weight: 500;
  font-stretch: expanded;
}

body .btn.green {
  background-color: #00DEA6;
  color: #222222;
}

body .hero_content_container {
  height: 100vh;
  overflow: hidden;
  background-color: #563AD5;
}

@media screen and (max-width: 1024px) {
  body .hero_content_container {
    height: 85vh;
  }
}

@media screen and (max-width: 768px) {
  body .hero_content_container {
    height: 100vh;
  }
}

body .hero_content_container .container {
  /* -----
            SVG Icons - svgicons.sparkk.fr
            ----- */
}

body .hero_content_container .container > h1 {
  color: white;
  font-size: 5rem;
  margin-top: 9rem;
  font-weight: 800;
  text-shadow: 3px 5px 0px #222222;
  position: relative;
}

@media screen and (max-width: 1024px) {
  body .hero_content_container .container > h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 425px) {
  body .hero_content_container .container > h1 {
    font-size: 2rem;
  }
}

body .hero_content_container .container > h1::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 100px;
  bottom: 15%;
  border-radius: 3px;
  margin-left: 2%;
  background: #FFA500;
  -webkit-box-shadow: 2px 4px 0px #222222;
          box-shadow: 2px 4px 0px #222222;
}

body .hero_content_container .container .address_container {
  position: absolute;
  right: 20%;
  bottom: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  body .hero_content_container .container .address_container {
    display: none;
  }
}

body .hero_content_container .container .address_container .svg-icon {
  width: 8em;
  height: 8em;
}

body .hero_content_container .container .address_container .svg-icon path,
body .hero_content_container .container .address_container .svg-icon polygon,
body .hero_content_container .container .address_container .svg-icon rect {
  fill: #FFA500;
}

body .hero_content_container .container .address_container .svg-icon circle {
  stroke: #FFA500;
  stroke-width: 1;
}

@media screen and (max-width: 768px) {
  body .hero_content_container .container .ms-5 {
    margin-left: 0% !important;
  }
}

body .hero_content_container .container .ms-5 h1 {
  color: white;
  font-size: 4.3rem;
  font-weight: 800;
  text-shadow: 3px 5px 0px #222222;
  position: relative;
}

@media screen and (max-width: 1024px) {
  body .hero_content_container .container .ms-5 h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 425px) {
  body .hero_content_container .container .ms-5 h1 {
    font-size: 2.4rem !important;
  }
}

@media screen and (max-width: 375px) {
  body .hero_content_container .container .ms-5 h1 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  body .hero_content_container .container .ms-5 h1 {
    font-size: 3rem;
  }
}

body .hero_content_container .container .ms-5 p {
  width: 50%;
  color: white;
  font-size: 1.1rem;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  body .hero_content_container .container .ms-5 p {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  body .hero_content_container .container .ms-5 p {
    font-size: 1rem;
  }
}

body .hero_content_container .container .ms-5 .btn {
  padding-top: 15px;
  padding-bottom: 15px;
}

body .services_content_container {
  padding: 5rem 0px;
}

@media screen and (max-width: 768px) {
  body .services_content_container .container .row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  body .services_content_container .container .row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body .services_content_container .container .row .col-md-4 {
    width: 100%;
  }
  body .services_content_container .container .row .col-md-4:nth-child(3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  body .services_content_container .container .row .col-md-4 {
    width: 100%;
  }
  body .services_content_container .container .row .col-md-4:nth-child(3) {
    margin-top: 0px;
  }
}

body .services_content_container .container .row .col-md-4 .service_card {
  -webkit-box-shadow: 5px 5px 0px #222222;
          box-shadow: 5px 5px 0px #222222;
  border-radius: 10px;
}

body .services_content_container .container .row .col-md-4 .service_card.green {
  background-color: #00DEA6;
}

body .services_content_container .container .row .col-md-4 .service_card.warning {
  background-color: #FFA500;
}

body .services_content_container .container .row .col-md-4 .service_card.danger {
  background-color: #FF5369;
}

body .about_content_container {
  padding: 5rem 0px;
}

@media screen and (max-width: 768px) {
  body .about_content_container .container .row .col-md-6 .ps-5 {
    padding-left: 0% !important;
  }
}
/*# sourceMappingURL=Home.css.map */